<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('heading') %>
    <a href="/new"><button>New Message</button></a>
    <% for(let message of messages) { %> 
        <hr>
        <ul>
            <li><b>User:</b> <%= message.username %></li>
            <li><b>Message:</b> <%= message.message %></li>
            <li><b>Added:</b> <%= message.added_date %></li><br>
            <a href="/message/<%= message.id %>"><button>Open</button></a>
        </ul>
        <hr>
    <%};%>
</body>
</html>